<div class="container">

    <div class="jumbotron">
        <h1>Order Your Burger </h1>
        <p>Burger Orders for Devouring.</p>
        <br>

        <div class="img-container">
		<img src="https://mcdonalds.com.au/sites/mcdonalds.com.au/files/Product_thumb_BigMac-201904.png" alt="Burger images">
	</div>
        
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    
                    <input type="text" id="newburger" name="burger">
                        
                    </input>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Devour Your Burger</strong>
                    <p></p>
                </div>
                <div class="panel-body">

                    <div>
			{{#each burgers}}
				{{#unless isDevoured }}
					<div>
						 {{this.burger_name}} <button class="devour" data-id="{{ id }}">Devour it</button>
					</div>
				{{/unless}}
			{{/each}}
		</div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Throw Burger in trash</strong>
                    <p>Remove order </p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong>  {{this.burger_name}}</strong></span>
                        <button type="button"  class="trashburger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">delete<span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->